<?php

//-------------------------------------------------------------------------------------
// Module Email

$aConfig['MODULE']['Email'] = array(

    // Spooler Folder
    'sAbsolutePathToFolderSpooler' => realpath(__DIR__ . '/../../../') . '/data/spooler/',

    // Attachment Folder
    'sAbsolutePathToFolderAttachment' => realpath(__DIR__ . '/../../../') . '/data/attachment/',

    // Number of e-mails to be processed simultaneously
    'iAmountToSpool' => 50,

    // max. time span for new delivery attempts (from "retry")
    'iMaxSecondsOfRetry' => (60 * 60 * 24 * 1), // 24h

    // max. time AFTER RETRY (`iMaxSecondsOfRetry`)
    // files in spooler will finally be deleted
    // so in fact calculation is: (iMaxSecondsOfRetry + iMaxSecondsOfDeletion)
    'iMaxSecondsOfDeletionAfterRetry' => (60 * 60 * 24 * 1), // 24h after iMaxSecondsOfRetry

    'oCallback' => function(\Email\DataType\Email $oEmail) {
        \Email\Model\Smtp::sendViaPhpMailer($oEmail);
    },

    /**
     * SMTP account settings
     */
    'sHost' => '',
    'iPort' => 465, # ssl=465 | tls=587
    'sSecure' => 'ssl', # ssl | tls
    'bAuth' => true,
    'sUsername' => '',
    'sPassword' => '',
);
